.PageContainer {
	overflow:hidden;
	background-color:#FFFFFF;
}

.s0 {
	white-space:pre;
	position:absolute;
	display:inline-block;
}
.s1 {
	border:0;
	margin:0;
	white-space:pre;
	position:absolute;
	display:block;
}
.trn_link {
	background-image:url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
	position:absolute;
}
.l0 { line-height:1.00; }
.l1 { line-height:1.05; }
.l2 { line-height:1.31; }
.fs20 { font-size:304.00px; }
.fs7 { font-size:345.00px; }
.fs6 { font-size:576.00px; }
.fs18 { font-size:594.00px; }
.fs10 { font-size:610.00px; }
.fs17 { font-size:638.00px; }
.fs15 { font-size:653.00px; }
.fs3 { font-size:674.00px; }
.fs4 { font-size:704.00px; }
.fs9 { font-size:712.00px; }
.fs16 { font-size:715.00px; }
.fs14 { font-size:762.00px; }
.fs0 { font-size:768.00px; }
.fs21 { font-size:789.00px; }
.fs19 { font-size:809.00px; }
.fs5 { font-size:832.00px; }
.fs2 { font-size:857.00px; }
.fs12 { font-size:896.00px; }
.fs8 { font-size:915.00px; }
.fs11 { font-size:964.00px; }
.fs13 { font-size:980.00px; }
.fs1 { font-size:1000.00px; }
.t42 {
	-webkit-transform:matrix(0.952395, -0.304868, 0.304868, 0.952395, 0.000000, 0.000000);
	-o-transform:matrix(0.952395, -0.304868, 0.304868, 0.952395, 0.000000, 0.000000);
	-ms-transform:matrix(0.952395, -0.304868, 0.304868, 0.952395, 0.000000, 0.000000);
	-moz-transform:matrix(0.952395, -0.304868, 0.304868, 0.952395, 0.000000, 0.000000);
	transform:matrix(0.952395, -0.304868, 0.304868, 0.952395, 0.000000, 0.000000);
}
.t56 {
	-webkit-transform:matrix(0.979272, -0.202551, 0.202551, 0.979272, 0.000000, 0.000000);
	-o-transform:matrix(0.979272, -0.202551, 0.202551, 0.979272, 0.000000, 0.000000);
	-ms-transform:matrix(0.979272, -0.202551, 0.202551, 0.979272, 0.000000, 0.000000);
	-moz-transform:matrix(0.979272, -0.202551, 0.202551, 0.979272, 0.000000, 0.000000);
	transform:matrix(0.979272, -0.202551, 0.202551, 0.979272, 0.000000, 0.000000);
}
.t57 {
	-webkit-transform:matrix(0.984909, -0.173074, 0.173074, 0.984909, 0.000000, 0.000000);
	-o-transform:matrix(0.984909, -0.173074, 0.173074, 0.984909, 0.000000, 0.000000);
	-ms-transform:matrix(0.984909, -0.173074, 0.173074, 0.984909, 0.000000, 0.000000);
	-moz-transform:matrix(0.984909, -0.173074, 0.173074, 0.984909, 0.000000, 0.000000);
	transform:matrix(0.984909, -0.173074, 0.173074, 0.984909, 0.000000, 0.000000);
}
.t55 {
	-webkit-transform:matrix(0.984912, -0.173054, 0.173054, 0.984912, 0.000000, 0.000000);
	-o-transform:matrix(0.984912, -0.173054, 0.173054, 0.984912, 0.000000, 0.000000);
	-ms-transform:matrix(0.984912, -0.173054, 0.173054, 0.984912, 0.000000, 0.000000);
	-moz-transform:matrix(0.984912, -0.173054, 0.173054, 0.984912, 0.000000, 0.000000);
	transform:matrix(0.984912, -0.173054, 0.173054, 0.984912, 0.000000, 0.000000);
}
.t51 {
	-webkit-transform:matrix(0.988640, 0.150301, -0.150301, 0.988640, 0.000000, 0.000000);
	-o-transform:matrix(0.988640, 0.150301, -0.150301, 0.988640, 0.000000, 0.000000);
	-ms-transform:matrix(0.988640, 0.150301, -0.150301, 0.988640, 0.000000, 0.000000);
	-moz-transform:matrix(0.988640, 0.150301, -0.150301, 0.988640, 0.000000, 0.000000);
	transform:matrix(0.988640, 0.150301, -0.150301, 0.988640, 0.000000, 0.000000);
}
.t58 {
	-webkit-transform:matrix(0.991199, -0.132379, 0.132379, 0.991199, 0.000000, 0.000000);
	-o-transform:matrix(0.991199, -0.132379, 0.132379, 0.991199, 0.000000, 0.000000);
	-ms-transform:matrix(0.991199, -0.132379, 0.132379, 0.991199, 0.000000, 0.000000);
	-moz-transform:matrix(0.991199, -0.132379, 0.132379, 0.991199, 0.000000, 0.000000);
	transform:matrix(0.991199, -0.132379, 0.132379, 0.991199, 0.000000, 0.000000);
}
.t66 {
	-webkit-transform:matrix(0.992900, 0.118950, -0.118950, 0.992900, 0.000000, 0.000000);
	-o-transform:matrix(0.992900, 0.118950, -0.118950, 0.992900, 0.000000, 0.000000);
	-ms-transform:matrix(0.992900, 0.118950, -0.118950, 0.992900, 0.000000, 0.000000);
	-moz-transform:matrix(0.992900, 0.118950, -0.118950, 0.992900, 0.000000, 0.000000);
	transform:matrix(0.992900, 0.118950, -0.118950, 0.992900, 0.000000, 0.000000);
}
.t54 {
	-webkit-transform:matrix(0.993042, -0.117765, 0.117765, 0.993042, 0.000000, 0.000000);
	-o-transform:matrix(0.993042, -0.117765, 0.117765, 0.993042, 0.000000, 0.000000);
	-ms-transform:matrix(0.993042, -0.117765, 0.117765, 0.993042, 0.000000, 0.000000);
	-moz-transform:matrix(0.993042, -0.117765, 0.117765, 0.993042, 0.000000, 0.000000);
	transform:matrix(0.993042, -0.117765, 0.117765, 0.993042, 0.000000, 0.000000);
}
.t68 {
	-webkit-transform:matrix(0.993739, 0.111722, -0.111722, 0.993739, 0.000000, 0.000000);
	-o-transform:matrix(0.993739, 0.111722, -0.111722, 0.993739, 0.000000, 0.000000);
	-ms-transform:matrix(0.993739, 0.111722, -0.111722, 0.993739, 0.000000, 0.000000);
	-moz-transform:matrix(0.993739, 0.111722, -0.111722, 0.993739, 0.000000, 0.000000);
	transform:matrix(0.993739, 0.111722, -0.111722, 0.993739, 0.000000, 0.000000);
}
.t70 {
	-webkit-transform:matrix(0.993938, 0.109944, -0.109944, 0.993938, 0.000000, 0.000000);
	-o-transform:matrix(0.993938, 0.109944, -0.109944, 0.993938, 0.000000, 0.000000);
	-ms-transform:matrix(0.993938, 0.109944, -0.109944, 0.993938, 0.000000, 0.000000);
	-moz-transform:matrix(0.993938, 0.109944, -0.109944, 0.993938, 0.000000, 0.000000);
	transform:matrix(0.993938, 0.109944, -0.109944, 0.993938, 0.000000, 0.000000);
}
.t72 {
	-webkit-transform:matrix(0.994508, 0.104656, -0.104656, 0.994508, 0.000000, 0.000000);
	-o-transform:matrix(0.994508, 0.104656, -0.104656, 0.994508, 0.000000, 0.000000);
	-ms-transform:matrix(0.994508, 0.104656, -0.104656, 0.994508, 0.000000, 0.000000);
	-moz-transform:matrix(0.994508, 0.104656, -0.104656, 0.994508, 0.000000, 0.000000);
	transform:matrix(0.994508, 0.104656, -0.104656, 0.994508, 0.000000, 0.000000);
}
.t74 {
	-webkit-transform:matrix(0.995212, 0.097739, -0.097739, 0.995212, 0.000000, 0.000000);
	-o-transform:matrix(0.995212, 0.097739, -0.097739, 0.995212, 0.000000, 0.000000);
	-ms-transform:matrix(0.995212, 0.097739, -0.097739, 0.995212, 0.000000, 0.000000);
	-moz-transform:matrix(0.995212, 0.097739, -0.097739, 0.995212, 0.000000, 0.000000);
	transform:matrix(0.995212, 0.097739, -0.097739, 0.995212, 0.000000, 0.000000);
}
.t166 {
	-webkit-transform:matrix(0.995618, -0.093511, 0.093511, 0.995618, 0.000000, 0.000000);
	-o-transform:matrix(0.995618, -0.093511, 0.093511, 0.995618, 0.000000, 0.000000);
	-ms-transform:matrix(0.995618, -0.093511, 0.093511, 0.995618, 0.000000, 0.000000);
	-moz-transform:matrix(0.995618, -0.093511, 0.093511, 0.995618, 0.000000, 0.000000);
	transform:matrix(0.995618, -0.093511, 0.093511, 0.995618, 0.000000, 0.000000);
}
.t76 {
	-webkit-transform:matrix(0.995855, 0.090956, -0.090956, 0.995855, 0.000000, 0.000000);
	-o-transform:matrix(0.995855, 0.090956, -0.090956, 0.995855, 0.000000, 0.000000);
	-ms-transform:matrix(0.995855, 0.090956, -0.090956, 0.995855, 0.000000, 0.000000);
	-moz-transform:matrix(0.995855, 0.090956, -0.090956, 0.995855, 0.000000, 0.000000);
	transform:matrix(0.995855, 0.090956, -0.090956, 0.995855, 0.000000, 0.000000);
}
.t164 {
	-webkit-transform:matrix(0.996043, -0.088878, 0.088878, 0.996043, 0.000000, 0.000000);
	-o-transform:matrix(0.996043, -0.088878, 0.088878, 0.996043, 0.000000, 0.000000);
	-ms-transform:matrix(0.996043, -0.088878, 0.088878, 0.996043, 0.000000, 0.000000);
	-moz-transform:matrix(0.996043, -0.088878, 0.088878, 0.996043, 0.000000, 0.000000);
	transform:matrix(0.996043, -0.088878, 0.088878, 0.996043, 0.000000, 0.000000);
}
.t61 {
	-webkit-transform:matrix(0.996050, 0.088792, -0.088792, 0.996050, 0.000000, 0.000000);
	-o-transform:matrix(0.996050, 0.088792, -0.088792, 0.996050, 0.000000, 0.000000);
	-ms-transform:matrix(0.996050, 0.088792, -0.088792, 0.996050, 0.000000, 0.000000);
	-moz-transform:matrix(0.996050, 0.088792, -0.088792, 0.996050, 0.000000, 0.000000);
	transform:matrix(0.996050, 0.088792, -0.088792, 0.996050, 0.000000, 0.000000);
}
.t78 {
	-webkit-transform:matrix(0.996154, 0.087617, -0.087617, 0.996154, 0.000000, 0.000000);
	-o-transform:matrix(0.996154, 0.087617, -0.087617, 0.996154, 0.000000, 0.000000);
	-ms-transform:matrix(0.996154, 0.087617, -0.087617, 0.996154, 0.000000, 0.000000);
	-moz-transform:matrix(0.996154, 0.087617, -0.087617, 0.996154, 0.000000, 0.000000);
	transform:matrix(0.996154, 0.087617, -0.087617, 0.996154, 0.000000, 0.000000);
}
.t162 {
	-webkit-transform:matrix(0.996442, -0.084283, 0.084283, 0.996442, 0.000000, 0.000000);
	-o-transform:matrix(0.996442, -0.084283, 0.084283, 0.996442, 0.000000, 0.000000);
	-ms-transform:matrix(0.996442, -0.084283, 0.084283, 0.996442, 0.000000, 0.000000);
	-moz-transform:matrix(0.996442, -0.084283, 0.084283, 0.996442, 0.000000, 0.000000);
	transform:matrix(0.996442, -0.084283, 0.084283, 0.996442, 0.000000, 0.000000);
}
.t59 {
	-webkit-transform:matrix(0.996668, -0.081560, 0.081560, 0.996668, 0.000000, 0.000000);
	-o-transform:matrix(0.996668, -0.081560, 0.081560, 0.996668, 0.000000, 0.000000);
	-ms-transform:matrix(0.996668, -0.081560, 0.081560, 0.996668, 0.000000, 0.000000);
	-moz-transform:matrix(0.996668, -0.081560, 0.081560, 0.996668, 0.000000, 0.000000);
	transform:matrix(0.996668, -0.081560, 0.081560, 0.996668, 0.000000, 0.000000);
}
.t80 {
	-webkit-transform:matrix(0.996713, 0.081017, -0.081017, 0.996713, 0.000000, 0.000000);
	-o-transform:matrix(0.996713, 0.081017, -0.081017, 0.996713, 0.000000, 0.000000);
	-ms-transform:matrix(0.996713, 0.081017, -0.081017, 0.996713, 0.000000, 0.000000);
	-moz-transform:matrix(0.996713, 0.081017, -0.081017, 0.996713, 0.000000, 0.000000);
	transform:matrix(0.996713, 0.081017, -0.081017, 0.996713, 0.000000, 0.000000);
}
.t160 {
	-webkit-transform:matrix(0.996817, -0.079728, 0.079728, 0.996817, 0.000000, 0.000000);
	-o-transform:matrix(0.996817, -0.079728, 0.079728, 0.996817, 0.000000, 0.000000);
	-ms-transform:matrix(0.996817, -0.079728, 0.079728, 0.996817, 0.000000, 0.000000);
	-moz-transform:matrix(0.996817, -0.079728, 0.079728, 0.996817, 0.000000, 0.000000);
	transform:matrix(0.996817, -0.079728, 0.079728, 0.996817, 0.000000, 0.000000);
}
.t158 {
	-webkit-transform:matrix(0.997054, -0.076705, 0.076705, 0.997054, 0.000000, 0.000000);
	-o-transform:matrix(0.997054, -0.076705, 0.076705, 0.997054, 0.000000, 0.000000);
	-ms-transform:matrix(0.997054, -0.076705, 0.076705, 0.997054, 0.000000, 0.000000);
	-moz-transform:matrix(0.997054, -0.076705, 0.076705, 0.997054, 0.000000, 0.000000);
	transform:matrix(0.997054, -0.076705, 0.076705, 0.997054, 0.000000, 0.000000);
}
.t82 {
	-webkit-transform:matrix(0.997098, 0.076133, -0.076133, 0.997098, 0.000000, 0.000000);
	-o-transform:matrix(0.997098, 0.076133, -0.076133, 0.997098, 0.000000, 0.000000);
	-ms-transform:matrix(0.997098, 0.076133, -0.076133, 0.997098, 0.000000, 0.000000);
	-moz-transform:matrix(0.997098, 0.076133, -0.076133, 0.997098, 0.000000, 0.000000);
	transform:matrix(0.997098, 0.076133, -0.076133, 0.997098, 0.000000, 0.000000);
}
.t156 {
	-webkit-transform:matrix(0.997390, -0.072200, 0.072200, 0.997390, 0.000000, 0.000000);
	-o-transform:matrix(0.997390, -0.072200, 0.072200, 0.997390, 0.000000, 0.000000);
	-ms-transform:matrix(0.997390, -0.072200, 0.072200, 0.997390, 0.000000, 0.000000);
	-moz-transform:matrix(0.997390, -0.072200, 0.072200, 0.997390, 0.000000, 0.000000);
	transform:matrix(0.997390, -0.072200, 0.072200, 0.997390, 0.000000, 0.000000);
}
.t84 {
	-webkit-transform:matrix(0.997454, 0.071317, -0.071317, 0.997454, 0.000000, 0.000000);
	-o-transform:matrix(0.997454, 0.071317, -0.071317, 0.997454, 0.000000, 0.000000);
	-ms-transform:matrix(0.997454, 0.071317, -0.071317, 0.997454, 0.000000, 0.000000);
	-moz-transform:matrix(0.997454, 0.071317, -0.071317, 0.997454, 0.000000, 0.000000);
	transform:matrix(0.997454, 0.071317, -0.071317, 0.997454, 0.000000, 0.000000);
}
.t154 {
	-webkit-transform:matrix(0.997602, -0.069211, 0.069211, 0.997602, 0.000000, 0.000000);
	-o-transform:matrix(0.997602, -0.069211, 0.069211, 0.997602, 0.000000, 0.000000);
	-ms-transform:matrix(0.997602, -0.069211, 0.069211, 0.997602, 0.000000, 0.000000);
	-moz-transform:matrix(0.997602, -0.069211, 0.069211, 0.997602, 0.000000, 0.000000);
	transform:matrix(0.997602, -0.069211, 0.069211, 0.997602, 0.000000, 0.000000);
}
.t86 {
	-webkit-transform:matrix(0.997677, 0.068128, -0.068128, 0.997677, 0.000000, 0.000000);
	-o-transform:matrix(0.997677, 0.068128, -0.068128, 0.997677, 0.000000, 0.000000);
	-ms-transform:matrix(0.997677, 0.068128, -0.068128, 0.997677, 0.000000, 0.000000);
	-moz-transform:matrix(0.997677, 0.068128, -0.068128, 0.997677, 0.000000, 0.000000);
	transform:matrix(0.997677, 0.068128, -0.068128, 0.997677, 0.000000, 0.000000);
}
.t152 {
	-webkit-transform:matrix(0.997901, -0.064756, 0.064756, 0.997901, 0.000000, 0.000000);
	-o-transform:matrix(0.997901, -0.064756, 0.064756, 0.997901, 0.000000, 0.000000);
	-ms-transform:matrix(0.997901, -0.064756, 0.064756, 0.997901, 0.000000, 0.000000);
	-moz-transform:matrix(0.997901, -0.064756, 0.064756, 0.997901, 0.000000, 0.000000);
	transform:matrix(0.997901, -0.064756, 0.064756, 0.997901, 0.000000, 0.000000);
}
.t88 {
	-webkit-transform:matrix(0.998087, 0.061828, -0.061828, 0.998087, 0.000000, 0.000000);
	-o-transform:matrix(0.998087, 0.061828, -0.061828, 0.998087, 0.000000, 0.000000);
	-ms-transform:matrix(0.998087, 0.061828, -0.061828, 0.998087, 0.000000, 0.000000);
	-moz-transform:matrix(0.998087, 0.061828, -0.061828, 0.998087, 0.000000, 0.000000);
	transform:matrix(0.998087, 0.061828, -0.061828, 0.998087, 0.000000, 0.000000);
}
.t150 {
	-webkit-transform:matrix(0.998089, -0.061794, 0.061794, 0.998089, 0.000000, 0.000000);
	-o-transform:matrix(0.998089, -0.061794, 0.061794, 0.998089, 0.000000, 0.000000);
	-ms-transform:matrix(0.998089, -0.061794, 0.061794, 0.998089, 0.000000, 0.000000);
	-moz-transform:matrix(0.998089, -0.061794, 0.061794, 0.998089, 0.000000, 0.000000);
	transform:matrix(0.998089, -0.061794, 0.061794, 0.998089, 0.000000, 0.000000);
}
.t7 {
	-webkit-transform:matrix(0.998135, -0.061050, 0.061050, 0.998135, 0.000000, 0.000000);
	-o-transform:matrix(0.998135, -0.061050, 0.061050, 0.998135, 0.000000, 0.000000);
	-ms-transform:matrix(0.998135, -0.061050, 0.061050, 0.998135, 0.000000, 0.000000);
	-moz-transform:matrix(0.998135, -0.061050, 0.061050, 0.998135, 0.000000, 0.000000);
	transform:matrix(0.998135, -0.061050, 0.061050, 0.998135, 0.000000, 0.000000);
}
.t148 {
	-webkit-transform:matrix(0.998267, -0.058844, 0.058844, 0.998267, 0.000000, 0.000000);
	-o-transform:matrix(0.998267, -0.058844, 0.058844, 0.998267, 0.000000, 0.000000);
	-ms-transform:matrix(0.998267, -0.058844, 0.058844, 0.998267, 0.000000, 0.000000);
	-moz-transform:matrix(0.998267, -0.058844, 0.058844, 0.998267, 0.000000, 0.000000);
	transform:matrix(0.998267, -0.058844, 0.058844, 0.998267, 0.000000, 0.000000);
}
.t90 {
	-webkit-transform:matrix(0.998365, 0.057155, -0.057155, 0.998365, 0.000000, 0.000000);
	-o-transform:matrix(0.998365, 0.057155, -0.057155, 0.998365, 0.000000, 0.000000);
	-ms-transform:matrix(0.998365, 0.057155, -0.057155, 0.998365, 0.000000, 0.000000);
	-moz-transform:matrix(0.998365, 0.057155, -0.057155, 0.998365, 0.000000, 0.000000);
	transform:matrix(0.998365, 0.057155, -0.057155, 0.998365, 0.000000, 0.000000);
}
.t92 {
	-webkit-transform:matrix(0.998538, 0.054061, -0.054061, 0.998538, 0.000000, 0.000000);
	-o-transform:matrix(0.998538, 0.054061, -0.054061, 0.998538, 0.000000, 0.000000);
	-ms-transform:matrix(0.998538, 0.054061, -0.054061, 0.998538, 0.000000, 0.000000);
	-moz-transform:matrix(0.998538, 0.054061, -0.054061, 0.998538, 0.000000, 0.000000);
	transform:matrix(0.998538, 0.054061, -0.054061, 0.998538, 0.000000, 0.000000);
}
.t146 {
	-webkit-transform:matrix(0.998596, -0.052972, 0.052972, 0.998596, 0.000000, 0.000000);
	-o-transform:matrix(0.998596, -0.052972, 0.052972, 0.998596, 0.000000, 0.000000);
	-ms-transform:matrix(0.998596, -0.052972, 0.052972, 0.998596, 0.000000, 0.000000);
	-moz-transform:matrix(0.998596, -0.052972, 0.052972, 0.998596, 0.000000, 0.000000);
	transform:matrix(0.998596, -0.052972, 0.052972, 0.998596, 0.000000, 0.000000);
}
.t21 {
	-webkit-transform:matrix(0.998629, 0.052338, -0.052338, 0.998629, 0.000000, 0.000000);
	-o-transform:matrix(0.998629, 0.052338, -0.052338, 0.998629, 0.000000, 0.000000);
	-ms-transform:matrix(0.998629, 0.052338, -0.052338, 0.998629, 0.000000, 0.000000);
	-moz-transform:matrix(0.998629, 0.052338, -0.052338, 0.998629, 0.000000, 0.000000);
	transform:matrix(0.998629, 0.052338, -0.052338, 0.998629, 0.000000, 0.000000);
}
.t20 {
	-webkit-transform:matrix(0.998629, 0.052337, -0.052337, 0.998629, 0.000000, 0.000000);
	-o-transform:matrix(0.998629, 0.052337, -0.052337, 0.998629, 0.000000, 0.000000);
	-ms-transform:matrix(0.998629, 0.052337, -0.052337, 0.998629, 0.000000, 0.000000);
	-moz-transform:matrix(0.998629, 0.052337, -0.052337, 0.998629, 0.000000, 0.000000);
	transform:matrix(0.998629, 0.052337, -0.052337, 0.998629, 0.000000, 0.000000);
}
.t43 {
	-webkit-transform:matrix(0.998630, -0.052333, 0.052333, 0.998630, 0.000000, 0.000000);
	-o-transform:matrix(0.998630, -0.052333, 0.052333, 0.998630, 0.000000, 0.000000);
	-ms-transform:matrix(0.998630, -0.052333, 0.052333, 0.998630, 0.000000, 0.000000);
	-moz-transform:matrix(0.998630, -0.052333, 0.052333, 0.998630, 0.000000, 0.000000);
	transform:matrix(0.998630, -0.052333, 0.052333, 0.998630, 0.000000, 0.000000);
}
.t22 {
	-webkit-transform:matrix(0.998630, 0.052333, -0.052333, 0.998630, 0.000000, 0.000000);
	-o-transform:matrix(0.998630, 0.052333, -0.052333, 0.998630, 0.000000, 0.000000);
	-ms-transform:matrix(0.998630, 0.052333, -0.052333, 0.998630, 0.000000, 0.000000);
	-moz-transform:matrix(0.998630, 0.052333, -0.052333, 0.998630, 0.000000, 0.000000);
	transform:matrix(0.998630, 0.052333, -0.052333, 0.998630, 0.000000, 0.000000);
}
.t44 {
	-webkit-transform:matrix(0.998630, -0.052333, 0.052333, 0.998630, 0.000000, 0.000000);
	-o-transform:matrix(0.998630, -0.052333, 0.052333, 0.998630, 0.000000, 0.000000);
	-ms-transform:matrix(0.998630, -0.052333, 0.052333, 0.998630, 0.000000, 0.000000);
	-moz-transform:matrix(0.998630, -0.052333, 0.052333, 0.998630, 0.000000, 0.000000);
	transform:matrix(0.998630, -0.052333, 0.052333, 0.998630, 0.000000, 0.000000);
}
.t45 {
	-webkit-transform:matrix(0.998630, -0.052333, 0.052333, 0.998630, 0.000000, 0.000000);
	-o-transform:matrix(0.998630, -0.052333, 0.052333, 0.998630, 0.000000, 0.000000);
	-ms-transform:matrix(0.998630, -0.052333, 0.052333, 0.998630, 0.000000, 0.000000);
	-moz-transform:matrix(0.998630, -0.052333, 0.052333, 0.998630, 0.000000, 0.000000);
	transform:matrix(0.998630, -0.052333, 0.052333, 0.998630, 0.000000, 0.000000);
}
.t9 {
	-webkit-transform:matrix(0.998630, -0.052329, 0.052329, 0.998630, 0.000000, 0.000000);
	-o-transform:matrix(0.998630, -0.052329, 0.052329, 0.998630, 0.000000, 0.000000);
	-ms-transform:matrix(0.998630, -0.052329, 0.052329, 0.998630, 0.000000, 0.000000);
	-moz-transform:matrix(0.998630, -0.052329, 0.052329, 0.998630, 0.000000, 0.000000);
	transform:matrix(0.998630, -0.052329, 0.052329, 0.998630, 0.000000, 0.000000);
}
.t53 {
	-webkit-transform:matrix(0.998719, -0.050606, 0.050606, 0.998719, 0.000000, 0.000000);
	-o-transform:matrix(0.998719, -0.050606, 0.050606, 0.998719, 0.000000, 0.000000);
	-ms-transform:matrix(0.998719, -0.050606, 0.050606, 0.998719, 0.000000, 0.000000);
	-moz-transform:matrix(0.998719, -0.050606, 0.050606, 0.998719, 0.000000, 0.000000);
	transform:matrix(0.998719, -0.050606, 0.050606, 0.998719, 0.000000, 0.000000);
}
.t94 {
	-webkit-transform:matrix(0.998776, 0.049455, -0.049455, 0.998776, 0.000000, 0.000000);
	-o-transform:matrix(0.998776, 0.049455, -0.049455, 0.998776, 0.000000, 0.000000);
	-ms-transform:matrix(0.998776, 0.049455, -0.049455, 0.998776, 0.000000, 0.000000);
	-moz-transform:matrix(0.998776, 0.049455, -0.049455, 0.998776, 0.000000, 0.000000);
	transform:matrix(0.998776, 0.049455, -0.049455, 0.998776, 0.000000, 0.000000);
}
.t144 {
	-webkit-transform:matrix(0.998889, -0.047128, 0.047128, 0.998889, 0.000000, 0.000000);
	-o-transform:matrix(0.998889, -0.047128, 0.047128, 0.998889, 0.000000, 0.000000);
	-ms-transform:matrix(0.998889, -0.047128, 0.047128, 0.998889, 0.000000, 0.000000);
	-moz-transform:matrix(0.998889, -0.047128, 0.047128, 0.998889, 0.000000, 0.000000);
	transform:matrix(0.998889, -0.047128, 0.047128, 0.998889, 0.000000, 0.000000);
}
.t96 {
	-webkit-transform:matrix(0.998992, 0.044889, -0.044889, 0.998992, 0.000000, 0.000000);
	-o-transform:matrix(0.998992, 0.044889, -0.044889, 0.998992, 0.000000, 0.000000);
	-ms-transform:matrix(0.998992, 0.044889, -0.044889, 0.998992, 0.000000, 0.000000);
	-moz-transform:matrix(0.998992, 0.044889, -0.044889, 0.998992, 0.000000, 0.000000);
	transform:matrix(0.998992, 0.044889, -0.044889, 0.998992, 0.000000, 0.000000);
}
.t25 {
	-webkit-transform:matrix(0.999048, -0.043616, 0.043616, 0.999048, 0.000000, 0.000000);
	-o-transform:matrix(0.999048, -0.043616, 0.043616, 0.999048, 0.000000, 0.000000);
	-ms-transform:matrix(0.999048, -0.043616, 0.043616, 0.999048, 0.000000, 0.000000);
	-moz-transform:matrix(0.999048, -0.043616, 0.043616, 0.999048, 0.000000, 0.000000);
	transform:matrix(0.999048, -0.043616, 0.043616, 0.999048, 0.000000, 0.000000);
}
.t24 {
	-webkit-transform:matrix(0.999048, -0.043616, 0.043616, 0.999048, 0.000000, 0.000000);
	-o-transform:matrix(0.999048, -0.043616, 0.043616, 0.999048, 0.000000, 0.000000);
	-ms-transform:matrix(0.999048, -0.043616, 0.043616, 0.999048, 0.000000, 0.000000);
	-moz-transform:matrix(0.999048, -0.043616, 0.043616, 0.999048, 0.000000, 0.000000);
	transform:matrix(0.999048, -0.043616, 0.043616, 0.999048, 0.000000, 0.000000);
}
.t26 {
	-webkit-transform:matrix(0.999048, -0.043616, 0.043616, 0.999048, 0.000000, 0.000000);
	-o-transform:matrix(0.999048, -0.043616, 0.043616, 0.999048, 0.000000, 0.000000);
	-ms-transform:matrix(0.999048, -0.043616, 0.043616, 0.999048, 0.000000, 0.000000);
	-moz-transform:matrix(0.999048, -0.043616, 0.043616, 0.999048, 0.000000, 0.000000);
	transform:matrix(0.999048, -0.043616, 0.043616, 0.999048, 0.000000, 0.000000);
}
.t142 {
	-webkit-transform:matrix(0.999085, -0.042761, 0.042761, 0.999085, 0.000000, 0.000000);
	-o-transform:matrix(0.999085, -0.042761, 0.042761, 0.999085, 0.000000, 0.000000);
	-ms-transform:matrix(0.999085, -0.042761, 0.042761, 0.999085, 0.000000, 0.000000);
	-moz-transform:matrix(0.999085, -0.042761, 0.042761, 0.999085, 0.000000, 0.000000);
	transform:matrix(0.999085, -0.042761, 0.042761, 0.999085, 0.000000, 0.000000);
}
.t98 {
	-webkit-transform:matrix(0.999123, 0.041861, -0.041861, 0.999123, 0.000000, 0.000000);
	-o-transform:matrix(0.999123, 0.041861, -0.041861, 0.999123, 0.000000, 0.000000);
	-ms-transform:matrix(0.999123, 0.041861, -0.041861, 0.999123, 0.000000, 0.000000);
	-moz-transform:matrix(0.999123, 0.041861, -0.041861, 0.999123, 0.000000, 0.000000);
	transform:matrix(0.999123, 0.041861, -0.041861, 0.999123, 0.000000, 0.000000);
}
.t140 {
	-webkit-transform:matrix(0.999205, -0.039856, 0.039856, 0.999205, 0.000000, 0.000000);
	-o-transform:matrix(0.999205, -0.039856, 0.039856, 0.999205, 0.000000, 0.000000);
	-ms-transform:matrix(0.999205, -0.039856, 0.039856, 0.999205, 0.000000, 0.000000);
	-moz-transform:matrix(0.999205, -0.039856, 0.039856, 0.999205, 0.000000, 0.000000);
	transform:matrix(0.999205, -0.039856, 0.039856, 0.999205, 0.000000, 0.000000);
}
.t100 {
	-webkit-transform:matrix(0.999245, 0.038850, -0.038850, 0.999245, 0.000000, 0.000000);
	-o-transform:matrix(0.999245, 0.038850, -0.038850, 0.999245, 0.000000, 0.000000);
	-ms-transform:matrix(0.999245, 0.038850, -0.038850, 0.999245, 0.000000, 0.000000);
	-moz-transform:matrix(0.999245, 0.038850, -0.038850, 0.999245, 0.000000, 0.000000);
	transform:matrix(0.999245, 0.038850, -0.038850, 0.999245, 0.000000, 0.000000);
}
.t138 {
	-webkit-transform:matrix(0.999317, -0.036956, 0.036956, 0.999317, 0.000000, 0.000000);
	-o-transform:matrix(0.999317, -0.036956, 0.036956, 0.999317, 0.000000, 0.000000);
	-ms-transform:matrix(0.999317, -0.036956, 0.036956, 0.999317, 0.000000, 0.000000);
	-moz-transform:matrix(0.999317, -0.036956, 0.036956, 0.999317, 0.000000, 0.000000);
	transform:matrix(0.999317, -0.036956, 0.036956, 0.999317, 0.000000, 0.000000);
}
.t52 {
	-webkit-transform:matrix(0.999358, 0.035825, -0.035825, 0.999358, 0.000000, 0.000000);
	-o-transform:matrix(0.999358, 0.035825, -0.035825, 0.999358, 0.000000, 0.000000);
	-ms-transform:matrix(0.999358, 0.035825, -0.035825, 0.999358, 0.000000, 0.000000);
	-moz-transform:matrix(0.999358, 0.035825, -0.035825, 0.999358, 0.000000, 0.000000);
	transform:matrix(0.999358, 0.035825, -0.035825, 0.999358, 0.000000, 0.000000);
}
.t31 {
	-webkit-transform:matrix(0.999391, -0.034904, 0.034904, 0.999391, 0.000000, 0.000000);
	-o-transform:matrix(0.999391, -0.034904, 0.034904, 0.999391, 0.000000, 0.000000);
	-ms-transform:matrix(0.999391, -0.034904, 0.034904, 0.999391, 0.000000, 0.000000);
	-moz-transform:matrix(0.999391, -0.034904, 0.034904, 0.999391, 0.000000, 0.000000);
	transform:matrix(0.999391, -0.034904, 0.034904, 0.999391, 0.000000, 0.000000);
}
.t40 {
	-webkit-transform:matrix(0.999391, 0.034904, -0.034904, 0.999391, 0.000000, 0.000000);
	-o-transform:matrix(0.999391, 0.034904, -0.034904, 0.999391, 0.000000, 0.000000);
	-ms-transform:matrix(0.999391, 0.034904, -0.034904, 0.999391, 0.000000, 0.000000);
	-moz-transform:matrix(0.999391, 0.034904, -0.034904, 0.999391, 0.000000, 0.000000);
	transform:matrix(0.999391, 0.034904, -0.034904, 0.999391, 0.000000, 0.000000);
}
.t30 {
	-webkit-transform:matrix(0.999391, -0.034903, 0.034903, 0.999391, 0.000000, 0.000000);
	-o-transform:matrix(0.999391, -0.034903, 0.034903, 0.999391, 0.000000, 0.000000);
	-ms-transform:matrix(0.999391, -0.034903, 0.034903, 0.999391, 0.000000, 0.000000);
	-moz-transform:matrix(0.999391, -0.034903, 0.034903, 0.999391, 0.000000, 0.000000);
	transform:matrix(0.999391, -0.034903, 0.034903, 0.999391, 0.000000, 0.000000);
}
.t39 {
	-webkit-transform:matrix(0.999391, 0.034903, -0.034903, 0.999391, 0.000000, 0.000000);
	-o-transform:matrix(0.999391, 0.034903, -0.034903, 0.999391, 0.000000, 0.000000);
	-ms-transform:matrix(0.999391, 0.034903, -0.034903, 0.999391, 0.000000, 0.000000);
	-moz-transform:matrix(0.999391, 0.034903, -0.034903, 0.999391, 0.000000, 0.000000);
	transform:matrix(0.999391, 0.034903, -0.034903, 0.999391, 0.000000, 0.000000);
}
.t32 {
	-webkit-transform:matrix(0.999391, -0.034899, 0.034899, 0.999391, 0.000000, 0.000000);
	-o-transform:matrix(0.999391, -0.034899, 0.034899, 0.999391, 0.000000, 0.000000);
	-ms-transform:matrix(0.999391, -0.034899, 0.034899, 0.999391, 0.000000, 0.000000);
	-moz-transform:matrix(0.999391, -0.034899, 0.034899, 0.999391, 0.000000, 0.000000);
	transform:matrix(0.999391, -0.034899, 0.034899, 0.999391, 0.000000, 0.000000);
}
.t41 {
	-webkit-transform:matrix(0.999391, 0.034899, -0.034899, 0.999391, 0.000000, 0.000000);
	-o-transform:matrix(0.999391, 0.034899, -0.034899, 0.999391, 0.000000, 0.000000);
	-ms-transform:matrix(0.999391, 0.034899, -0.034899, 0.999391, 0.000000, 0.000000);
	-moz-transform:matrix(0.999391, 0.034899, -0.034899, 0.999391, 0.000000, 0.000000);
	transform:matrix(0.999391, 0.034899, -0.034899, 0.999391, 0.000000, 0.000000);
}
.t102 {
	-webkit-transform:matrix(0.999410, 0.034356, -0.034356, 0.999410, 0.000000, 0.000000);
	-o-transform:matrix(0.999410, 0.034356, -0.034356, 0.999410, 0.000000, 0.000000);
	-ms-transform:matrix(0.999410, 0.034356, -0.034356, 0.999410, 0.000000, 0.000000);
	-moz-transform:matrix(0.999410, 0.034356, -0.034356, 0.999410, 0.000000, 0.000000);
	transform:matrix(0.999410, 0.034356, -0.034356, 0.999410, 0.000000, 0.000000);
}
.t136 {
	-webkit-transform:matrix(0.999420, -0.034061, 0.034061, 0.999420, 0.000000, 0.000000);
	-o-transform:matrix(0.999420, -0.034061, 0.034061, 0.999420, 0.000000, 0.000000);
	-ms-transform:matrix(0.999420, -0.034061, 0.034061, 0.999420, 0.000000, 0.000000);
	-moz-transform:matrix(0.999420, -0.034061, 0.034061, 0.999420, 0.000000, 0.000000);
	transform:matrix(0.999420, -0.034061, 0.034061, 0.999420, 0.000000, 0.000000);
}
.t104 {
	-webkit-transform:matrix(0.999553, 0.029889, -0.029889, 0.999553, 0.000000, 0.000000);
	-o-transform:matrix(0.999553, 0.029889, -0.029889, 0.999553, 0.000000, 0.000000);
	-ms-transform:matrix(0.999553, 0.029889, -0.029889, 0.999553, 0.000000, 0.000000);
	-moz-transform:matrix(0.999553, 0.029889, -0.029889, 0.999553, 0.000000, 0.000000);
	transform:matrix(0.999553, 0.029889, -0.029889, 0.999553, 0.000000, 0.000000);
}
.t134 {
	-webkit-transform:matrix(0.999558, -0.029722, 0.029722, 0.999558, 0.000000, 0.000000);
	-o-transform:matrix(0.999558, -0.029722, 0.029722, 0.999558, 0.000000, 0.000000);
	-ms-transform:matrix(0.999558, -0.029722, 0.029722, 0.999558, 0.000000, 0.000000);
	-moz-transform:matrix(0.999558, -0.029722, 0.029722, 0.999558, 0.000000, 0.000000);
	transform:matrix(0.999558, -0.029722, 0.029722, 0.999558, 0.000000, 0.000000);
}
.t17 {
	-webkit-transform:matrix(0.999657, -0.026175, 0.026175, 0.999657, 0.000000, 0.000000);
	-o-transform:matrix(0.999657, -0.026175, 0.026175, 0.999657, 0.000000, 0.000000);
	-ms-transform:matrix(0.999657, -0.026175, 0.026175, 0.999657, 0.000000, 0.000000);
	-moz-transform:matrix(0.999657, -0.026175, 0.026175, 0.999657, 0.000000, 0.000000);
	transform:matrix(0.999657, -0.026175, 0.026175, 0.999657, 0.000000, 0.000000);
}
.t46 {
	-webkit-transform:matrix(0.999657, 0.026175, -0.026175, 0.999657, 0.000000, 0.000000);
	-o-transform:matrix(0.999657, 0.026175, -0.026175, 0.999657, 0.000000, 0.000000);
	-ms-transform:matrix(0.999657, 0.026175, -0.026175, 0.999657, 0.000000, 0.000000);
	-moz-transform:matrix(0.999657, 0.026175, -0.026175, 0.999657, 0.000000, 0.000000);
	transform:matrix(0.999657, 0.026175, -0.026175, 0.999657, 0.000000, 0.000000);
}
.t18 {
	-webkit-transform:matrix(0.999657, -0.026173, 0.026173, 0.999657, 0.000000, 0.000000);
	-o-transform:matrix(0.999657, -0.026173, 0.026173, 0.999657, 0.000000, 0.000000);
	-ms-transform:matrix(0.999657, -0.026173, 0.026173, 0.999657, 0.000000, 0.000000);
	-moz-transform:matrix(0.999657, -0.026173, 0.026173, 0.999657, 0.000000, 0.000000);
	transform:matrix(0.999657, -0.026173, 0.026173, 0.999657, 0.000000, 0.000000);
}
.t47 {
	-webkit-transform:matrix(0.999657, 0.026173, -0.026173, 0.999657, 0.000000, 0.000000);
	-o-transform:matrix(0.999657, 0.026173, -0.026173, 0.999657, 0.000000, 0.000000);
	-ms-transform:matrix(0.999657, 0.026173, -0.026173, 0.999657, 0.000000, 0.000000);
	-moz-transform:matrix(0.999657, 0.026173, -0.026173, 0.999657, 0.000000, 0.000000);
	transform:matrix(0.999657, 0.026173, -0.026173, 0.999657, 0.000000, 0.000000);
}
.t19 {
	-webkit-transform:matrix(0.999657, -0.026172, 0.026172, 0.999657, 0.000000, 0.000000);
	-o-transform:matrix(0.999657, -0.026172, 0.026172, 0.999657, 0.000000, 0.000000);
	-ms-transform:matrix(0.999657, -0.026172, 0.026172, 0.999657, 0.000000, 0.000000);
	-moz-transform:matrix(0.999657, -0.026172, 0.026172, 0.999657, 0.000000, 0.000000);
	transform:matrix(0.999657, -0.026172, 0.026172, 0.999657, 0.000000, 0.000000);
}
.t48 {
	-webkit-transform:matrix(0.999657, 0.026172, -0.026172, 0.999657, 0.000000, 0.000000);
	-o-transform:matrix(0.999657, 0.026172, -0.026172, 0.999657, 0.000000, 0.000000);
	-ms-transform:matrix(0.999657, 0.026172, -0.026172, 0.999657, 0.000000, 0.000000);
	-moz-transform:matrix(0.999657, 0.026172, -0.026172, 0.999657, 0.000000, 0.000000);
	transform:matrix(0.999657, 0.026172, -0.026172, 0.999657, 0.000000, 0.000000);
}
.t106 {
	-webkit-transform:matrix(0.999676, 0.025444, -0.025444, 0.999676, 0.000000, 0.000000);
	-o-transform:matrix(0.999676, 0.025444, -0.025444, 0.999676, 0.000000, 0.000000);
	-ms-transform:matrix(0.999676, 0.025444, -0.025444, 0.999676, 0.000000, 0.000000);
	-moz-transform:matrix(0.999676, 0.025444, -0.025444, 0.999676, 0.000000, 0.000000);
	transform:matrix(0.999676, 0.025444, -0.025444, 0.999676, 0.000000, 0.000000);
}
.t132 {
	-webkit-transform:matrix(0.999678, -0.025389, 0.025389, 0.999678, 0.000000, 0.000000);
	-o-transform:matrix(0.999678, -0.025389, 0.025389, 0.999678, 0.000000, 0.000000);
	-ms-transform:matrix(0.999678, -0.025389, 0.025389, 0.999678, 0.000000, 0.000000);
	-moz-transform:matrix(0.999678, -0.025389, 0.025389, 0.999678, 0.000000, 0.000000);
	transform:matrix(0.999678, -0.025389, 0.025389, 0.999678, 0.000000, 0.000000);
}
.t130 {
	-webkit-transform:matrix(0.999778, -0.021061, 0.021061, 0.999778, 0.000000, 0.000000);
	-o-transform:matrix(0.999778, -0.021061, 0.021061, 0.999778, 0.000000, 0.000000);
	-ms-transform:matrix(0.999778, -0.021061, 0.021061, 0.999778, 0.000000, 0.000000);
	-moz-transform:matrix(0.999778, -0.021061, 0.021061, 0.999778, 0.000000, 0.000000);
	transform:matrix(0.999778, -0.021061, 0.021061, 0.999778, 0.000000, 0.000000);
}
.t108 {
	-webkit-transform:matrix(0.999779, 0.021028, -0.021028, 0.999779, 0.000000, 0.000000);
	-o-transform:matrix(0.999779, 0.021028, -0.021028, 0.999779, 0.000000, 0.000000);
	-ms-transform:matrix(0.999779, 0.021028, -0.021028, 0.999779, 0.000000, 0.000000);
	-moz-transform:matrix(0.999779, 0.021028, -0.021028, 0.999779, 0.000000, 0.000000);
	transform:matrix(0.999779, 0.021028, -0.021028, 0.999779, 0.000000, 0.000000);
}
.t110 {
	-webkit-transform:matrix(0.999836, 0.018089, -0.018089, 0.999836, 0.000000, 0.000000);
	-o-transform:matrix(0.999836, 0.018089, -0.018089, 0.999836, 0.000000, 0.000000);
	-ms-transform:matrix(0.999836, 0.018089, -0.018089, 0.999836, 0.000000, 0.000000);
	-moz-transform:matrix(0.999836, 0.018089, -0.018089, 0.999836, 0.000000, 0.000000);
	transform:matrix(0.999836, 0.018089, -0.018089, 0.999836, 0.000000, 0.000000);
}
.t16 {
	-webkit-transform:matrix(0.999848, -0.017455, 0.017455, 0.999848, 0.000000, 0.000000);
	-o-transform:matrix(0.999848, -0.017455, 0.017455, 0.999848, 0.000000, 0.000000);
	-ms-transform:matrix(0.999848, -0.017455, 0.017455, 0.999848, 0.000000, 0.000000);
	-moz-transform:matrix(0.999848, -0.017455, 0.017455, 0.999848, 0.000000, 0.000000);
	transform:matrix(0.999848, -0.017455, 0.017455, 0.999848, 0.000000, 0.000000);
}
.t35 {
	-webkit-transform:matrix(0.999848, 0.017455, -0.017455, 0.999848, 0.000000, 0.000000);
	-o-transform:matrix(0.999848, 0.017455, -0.017455, 0.999848, 0.000000, 0.000000);
	-ms-transform:matrix(0.999848, 0.017455, -0.017455, 0.999848, 0.000000, 0.000000);
	-moz-transform:matrix(0.999848, 0.017455, -0.017455, 0.999848, 0.000000, 0.000000);
	transform:matrix(0.999848, 0.017455, -0.017455, 0.999848, 0.000000, 0.000000);
}
.t14 {
	-webkit-transform:matrix(0.999848, -0.017455, 0.017455, 0.999848, 0.000000, 0.000000);
	-o-transform:matrix(0.999848, -0.017455, 0.017455, 0.999848, 0.000000, 0.000000);
	-ms-transform:matrix(0.999848, -0.017455, 0.017455, 0.999848, 0.000000, 0.000000);
	-moz-transform:matrix(0.999848, -0.017455, 0.017455, 0.999848, 0.000000, 0.000000);
	transform:matrix(0.999848, -0.017455, 0.017455, 0.999848, 0.000000, 0.000000);
}
.t33 {
	-webkit-transform:matrix(0.999848, 0.017455, -0.017455, 0.999848, 0.000000, 0.000000);
	-o-transform:matrix(0.999848, 0.017455, -0.017455, 0.999848, 0.000000, 0.000000);
	-ms-transform:matrix(0.999848, 0.017455, -0.017455, 0.999848, 0.000000, 0.000000);
	-moz-transform:matrix(0.999848, 0.017455, -0.017455, 0.999848, 0.000000, 0.000000);
	transform:matrix(0.999848, 0.017455, -0.017455, 0.999848, 0.000000, 0.000000);
}
.t15 {
	-webkit-transform:matrix(0.999848, -0.017452, 0.017452, 0.999848, 0.000000, 0.000000);
	-o-transform:matrix(0.999848, -0.017452, 0.017452, 0.999848, 0.000000, 0.000000);
	-ms-transform:matrix(0.999848, -0.017452, 0.017452, 0.999848, 0.000000, 0.000000);
	-moz-transform:matrix(0.999848, -0.017452, 0.017452, 0.999848, 0.000000, 0.000000);
	transform:matrix(0.999848, -0.017452, 0.017452, 0.999848, 0.000000, 0.000000);
}
.t34 {
	-webkit-transform:matrix(0.999848, 0.017452, -0.017452, 0.999848, 0.000000, 0.000000);
	-o-transform:matrix(0.999848, 0.017452, -0.017452, 0.999848, 0.000000, 0.000000);
	-ms-transform:matrix(0.999848, 0.017452, -0.017452, 0.999848, 0.000000, 0.000000);
	-moz-transform:matrix(0.999848, 0.017452, -0.017452, 0.999848, 0.000000, 0.000000);
	transform:matrix(0.999848, 0.017452, -0.017452, 0.999848, 0.000000, 0.000000);
}
.t128 {
	-webkit-transform:matrix(0.999860, -0.016733, 0.016733, 0.999860, 0.000000, 0.000000);
	-o-transform:matrix(0.999860, -0.016733, 0.016733, 0.999860, 0.000000, 0.000000);
	-ms-transform:matrix(0.999860, -0.016733, 0.016733, 0.999860, 0.000000, 0.000000);
	-moz-transform:matrix(0.999860, -0.016733, 0.016733, 0.999860, 0.000000, 0.000000);
	transform:matrix(0.999860, -0.016733, 0.016733, 0.999860, 0.000000, 0.000000);
}
.t126 {
	-webkit-transform:matrix(0.999904, -0.013844, 0.013844, 0.999904, 0.000000, 0.000000);
	-o-transform:matrix(0.999904, -0.013844, 0.013844, 0.999904, 0.000000, 0.000000);
	-ms-transform:matrix(0.999904, -0.013844, 0.013844, 0.999904, 0.000000, 0.000000);
	-moz-transform:matrix(0.999904, -0.013844, 0.013844, 0.999904, 0.000000, 0.000000);
	transform:matrix(0.999904, -0.013844, 0.013844, 0.999904, 0.000000, 0.000000);
}
.t112 {
	-webkit-transform:matrix(0.999906, 0.013700, -0.013700, 0.999906, 0.000000, 0.000000);
	-o-transform:matrix(0.999906, 0.013700, -0.013700, 0.999906, 0.000000, 0.000000);
	-ms-transform:matrix(0.999906, 0.013700, -0.013700, 0.999906, 0.000000, 0.000000);
	-moz-transform:matrix(0.999906, 0.013700, -0.013700, 0.999906, 0.000000, 0.000000);
	transform:matrix(0.999906, 0.013700, -0.013700, 0.999906, 0.000000, 0.000000);
}
.t114 {
	-webkit-transform:matrix(0.999942, 0.010783, -0.010783, 0.999942, 0.000000, 0.000000);
	-o-transform:matrix(0.999942, 0.010783, -0.010783, 0.999942, 0.000000, 0.000000);
	-ms-transform:matrix(0.999942, 0.010783, -0.010783, 0.999942, 0.000000, 0.000000);
	-moz-transform:matrix(0.999942, 0.010783, -0.010783, 0.999942, 0.000000, 0.000000);
	transform:matrix(0.999942, 0.010783, -0.010783, 0.999942, 0.000000, 0.000000);
}
.t60 {
	-webkit-transform:matrix(0.999943, -0.010712, 0.010712, 0.999943, 0.000000, 0.000000);
	-o-transform:matrix(0.999943, -0.010712, 0.010712, 0.999943, 0.000000, 0.000000);
	-ms-transform:matrix(0.999943, -0.010712, 0.010712, 0.999943, 0.000000, 0.000000);
	-moz-transform:matrix(0.999943, -0.010712, 0.010712, 0.999943, 0.000000, 0.000000);
	transform:matrix(0.999943, -0.010712, 0.010712, 0.999943, 0.000000, 0.000000);
}
.t124 {
	-webkit-transform:matrix(0.999955, -0.009511, 0.009511, 0.999955, 0.000000, 0.000000);
	-o-transform:matrix(0.999955, -0.009511, 0.009511, 0.999955, 0.000000, 0.000000);
	-ms-transform:matrix(0.999955, -0.009511, 0.009511, 0.999955, 0.000000, 0.000000);
	-moz-transform:matrix(0.999955, -0.009511, 0.009511, 0.999955, 0.000000, 0.000000);
	transform:matrix(0.999955, -0.009511, 0.009511, 0.999955, 0.000000, 0.000000);
}
.t37 {
	-webkit-transform:matrix(0.999962, -0.008730, 0.008730, 0.999962, 0.000000, 0.000000);
	-o-transform:matrix(0.999962, -0.008730, 0.008730, 0.999962, 0.000000, 0.000000);
	-ms-transform:matrix(0.999962, -0.008730, 0.008730, 0.999962, 0.000000, 0.000000);
	-moz-transform:matrix(0.999962, -0.008730, 0.008730, 0.999962, 0.000000, 0.000000);
	transform:matrix(0.999962, -0.008730, 0.008730, 0.999962, 0.000000, 0.000000);
}
.t28 {
	-webkit-transform:matrix(0.999962, 0.008730, -0.008730, 0.999962, 0.000000, 0.000000);
	-o-transform:matrix(0.999962, 0.008730, -0.008730, 0.999962, 0.000000, 0.000000);
	-ms-transform:matrix(0.999962, 0.008730, -0.008730, 0.999962, 0.000000, 0.000000);
	-moz-transform:matrix(0.999962, 0.008730, -0.008730, 0.999962, 0.000000, 0.000000);
	transform:matrix(0.999962, 0.008730, -0.008730, 0.999962, 0.000000, 0.000000);
}
.t36 {
	-webkit-transform:matrix(0.999962, -0.008727, 0.008727, 0.999962, 0.000000, 0.000000);
	-o-transform:matrix(0.999962, -0.008727, 0.008727, 0.999962, 0.000000, 0.000000);
	-ms-transform:matrix(0.999962, -0.008727, 0.008727, 0.999962, 0.000000, 0.000000);
	-moz-transform:matrix(0.999962, -0.008727, 0.008727, 0.999962, 0.000000, 0.000000);
	transform:matrix(0.999962, -0.008727, 0.008727, 0.999962, 0.000000, 0.000000);
}
.t27 {
	-webkit-transform:matrix(0.999962, 0.008727, -0.008727, 0.999962, 0.000000, 0.000000);
	-o-transform:matrix(0.999962, 0.008727, -0.008727, 0.999962, 0.000000, 0.000000);
	-ms-transform:matrix(0.999962, 0.008727, -0.008727, 0.999962, 0.000000, 0.000000);
	-moz-transform:matrix(0.999962, 0.008727, -0.008727, 0.999962, 0.000000, 0.000000);
	transform:matrix(0.999962, 0.008727, -0.008727, 0.999962, 0.000000, 0.000000);
}
.t38 {
	-webkit-transform:matrix(0.999962, -0.008727, 0.008727, 0.999962, 0.000000, 0.000000);
	-o-transform:matrix(0.999962, -0.008727, 0.008727, 0.999962, 0.000000, 0.000000);
	-ms-transform:matrix(0.999962, -0.008727, 0.008727, 0.999962, 0.000000, 0.000000);
	-moz-transform:matrix(0.999962, -0.008727, 0.008727, 0.999962, 0.000000, 0.000000);
	transform:matrix(0.999962, -0.008727, 0.008727, 0.999962, 0.000000, 0.000000);
}
.t29 {
	-webkit-transform:matrix(0.999962, 0.008727, -0.008727, 0.999962, 0.000000, 0.000000);
	-o-transform:matrix(0.999962, 0.008727, -0.008727, 0.999962, 0.000000, 0.000000);
	-ms-transform:matrix(0.999962, 0.008727, -0.008727, 0.999962, 0.000000, 0.000000);
	-moz-transform:matrix(0.999962, 0.008727, -0.008727, 0.999962, 0.000000, 0.000000);
	transform:matrix(0.999962, 0.008727, -0.008727, 0.999962, 0.000000, 0.000000);
}
.t116 {
	-webkit-transform:matrix(0.999979, 0.006417, -0.006417, 0.999979, 0.000000, 0.000000);
	-o-transform:matrix(0.999979, 0.006417, -0.006417, 0.999979, 0.000000, 0.000000);
	-ms-transform:matrix(0.999979, 0.006417, -0.006417, 0.999979, 0.000000, 0.000000);
	-moz-transform:matrix(0.999979, 0.006417, -0.006417, 0.999979, 0.000000, 0.000000);
	transform:matrix(0.999979, 0.006417, -0.006417, 0.999979, 0.000000, 0.000000);
}
.t122 {
	-webkit-transform:matrix(0.999987, -0.005178, 0.005178, 0.999987, 0.000000, 0.000000);
	-o-transform:matrix(0.999987, -0.005178, 0.005178, 0.999987, 0.000000, 0.000000);
	-ms-transform:matrix(0.999987, -0.005178, 0.005178, 0.999987, 0.000000, 0.000000);
	-moz-transform:matrix(0.999987, -0.005178, 0.005178, 0.999987, 0.000000, 0.000000);
	transform:matrix(0.999987, -0.005178, 0.005178, 0.999987, 0.000000, 0.000000);
}
.t118 {
	-webkit-transform:matrix(0.999994, 0.003511, -0.003511, 0.999994, 0.000000, 0.000000);
	-o-transform:matrix(0.999994, 0.003511, -0.003511, 0.999994, 0.000000, 0.000000);
	-ms-transform:matrix(0.999994, 0.003511, -0.003511, 0.999994, 0.000000, 0.000000);
	-moz-transform:matrix(0.999994, 0.003511, -0.003511, 0.999994, 0.000000, 0.000000);
	transform:matrix(0.999994, 0.003511, -0.003511, 0.999994, 0.000000, 0.000000);
}
.t120 {
	-webkit-transform:matrix(1.000000, -0.000839, 0.000839, 1.000000, 0.000000, 0.000000);
	-o-transform:matrix(1.000000, -0.000839, 0.000839, 1.000000, 0.000000, 0.000000);
	-ms-transform:matrix(1.000000, -0.000839, 0.000839, 1.000000, 0.000000, 0.000000);
	-moz-transform:matrix(1.000000, -0.000839, 0.000839, 1.000000, 0.000000, 0.000000);
	transform:matrix(1.000000, -0.000839, 0.000839, 1.000000, 0.000000, 0.000000);
}
.t12 {
	-webkit-transform:scale(1.024000);
	-o-transform:scale(1.024000);
	-ms-transform:scale(1.024000);
	-moz-transform:scale(1.024000);
	transform:scale(1.024000);
}
.t71 {
	-webkit-transform:scale(1.151997);
	-o-transform:scale(1.151997);
	-ms-transform:scale(1.151997);
	-moz-transform:scale(1.151997);
	transform:scale(1.151997);
}
.t133 {
	-webkit-transform:scale(1.151997);
	-o-transform:scale(1.151997);
	-ms-transform:scale(1.151997);
	-moz-transform:scale(1.151997);
	transform:scale(1.151997);
}
.t153 {
	-webkit-transform:scale(1.151998);
	-o-transform:scale(1.151998);
	-ms-transform:scale(1.151998);
	-moz-transform:scale(1.151998);
	transform:scale(1.151998);
}
.t141 {
	-webkit-transform:scale(1.151998);
	-o-transform:scale(1.151998);
	-ms-transform:scale(1.151998);
	-moz-transform:scale(1.151998);
	transform:scale(1.151998);
}
.t115 {
	-webkit-transform:scale(1.151998);
	-o-transform:scale(1.151998);
	-ms-transform:scale(1.151998);
	-moz-transform:scale(1.151998);
	transform:scale(1.151998);
}
.t79 {
	-webkit-transform:scale(1.151998);
	-o-transform:scale(1.151998);
	-ms-transform:scale(1.151998);
	-moz-transform:scale(1.151998);
	transform:scale(1.151998);
}
.t165 {
	-webkit-transform:scale(1.151998);
	-o-transform:scale(1.151998);
	-ms-transform:scale(1.151998);
	-moz-transform:scale(1.151998);
	transform:scale(1.151998);
}
.t145 {
	-webkit-transform:scale(1.151998);
	-o-transform:scale(1.151998);
	-ms-transform:scale(1.151998);
	-moz-transform:scale(1.151998);
	transform:scale(1.151998);
}
.t155 {
	-webkit-transform:scale(1.151999);
	-o-transform:scale(1.151999);
	-ms-transform:scale(1.151999);
	-moz-transform:scale(1.151999);
	transform:scale(1.151999);
}
.t97 {
	-webkit-transform:scale(1.151999);
	-o-transform:scale(1.151999);
	-ms-transform:scale(1.151999);
	-moz-transform:scale(1.151999);
	transform:scale(1.151999);
}
.t151 {
	-webkit-transform:scale(1.151999);
	-o-transform:scale(1.151999);
	-ms-transform:scale(1.151999);
	-moz-transform:scale(1.151999);
	transform:scale(1.151999);
}
.t107 {
	-webkit-transform:scale(1.151999);
	-o-transform:scale(1.151999);
	-ms-transform:scale(1.151999);
	-moz-transform:scale(1.151999);
	transform:scale(1.151999);
}
.t73 {
	-webkit-transform:scale(1.151999);
	-o-transform:scale(1.151999);
	-ms-transform:scale(1.151999);
	-moz-transform:scale(1.151999);
	transform:scale(1.151999);
}
.t99 {
	-webkit-transform:scale(1.151999);
	-o-transform:scale(1.151999);
	-ms-transform:scale(1.151999);
	-moz-transform:scale(1.151999);
	transform:scale(1.151999);
}
.t111 {
	-webkit-transform:scale(1.151999);
	-o-transform:scale(1.151999);
	-ms-transform:scale(1.151999);
	-moz-transform:scale(1.151999);
	transform:scale(1.151999);
}
.t67 {
	-webkit-transform:scale(1.151999);
	-o-transform:scale(1.151999);
	-ms-transform:scale(1.151999);
	-moz-transform:scale(1.151999);
	transform:scale(1.151999);
}
.t147 {
	-webkit-transform:scale(1.151999);
	-o-transform:scale(1.151999);
	-ms-transform:scale(1.151999);
	-moz-transform:scale(1.151999);
	transform:scale(1.151999);
}
.t129 {
	-webkit-transform:scale(1.152000);
	-o-transform:scale(1.152000);
	-ms-transform:scale(1.152000);
	-moz-transform:scale(1.152000);
	transform:scale(1.152000);
}
.t65 {
	-webkit-transform:scale(1.152000);
	-o-transform:scale(1.152000);
	-ms-transform:scale(1.152000);
	-moz-transform:scale(1.152000);
	transform:scale(1.152000);
}
.t137 {
	-webkit-transform:scale(1.152000);
	-o-transform:scale(1.152000);
	-ms-transform:scale(1.152000);
	-moz-transform:scale(1.152000);
	transform:scale(1.152000);
}
.t149 {
	-webkit-transform:scale(1.152000);
	-o-transform:scale(1.152000);
	-ms-transform:scale(1.152000);
	-moz-transform:scale(1.152000);
	transform:scale(1.152000);
}
.t159 {
	-webkit-transform:scale(1.152000);
	-o-transform:scale(1.152000);
	-ms-transform:scale(1.152000);
	-moz-transform:scale(1.152000);
	transform:scale(1.152000);
}
.t0 {
	-webkit-transform:scale(1.152000);
	-o-transform:scale(1.152000);
	-ms-transform:scale(1.152000);
	-moz-transform:scale(1.152000);
	transform:scale(1.152000);
}
.t143 {
	-webkit-transform:scale(1.152000);
	-o-transform:scale(1.152000);
	-ms-transform:scale(1.152000);
	-moz-transform:scale(1.152000);
	transform:scale(1.152000);
}
.t139 {
	-webkit-transform:scale(1.152000);
	-o-transform:scale(1.152000);
	-ms-transform:scale(1.152000);
	-moz-transform:scale(1.152000);
	transform:scale(1.152000);
}
.t131 {
	-webkit-transform:scale(1.152000);
	-o-transform:scale(1.152000);
	-ms-transform:scale(1.152000);
	-moz-transform:scale(1.152000);
	transform:scale(1.152000);
}
.t119 {
	-webkit-transform:scale(1.152000);
	-o-transform:scale(1.152000);
	-ms-transform:scale(1.152000);
	-moz-transform:scale(1.152000);
	transform:scale(1.152000);
}
.t75 {
	-webkit-transform:scale(1.152001);
	-o-transform:scale(1.152001);
	-ms-transform:scale(1.152001);
	-moz-transform:scale(1.152001);
	transform:scale(1.152001);
}
.t117 {
	-webkit-transform:scale(1.152001);
	-o-transform:scale(1.152001);
	-ms-transform:scale(1.152001);
	-moz-transform:scale(1.152001);
	transform:scale(1.152001);
}
.t123 {
	-webkit-transform:scale(1.152001);
	-o-transform:scale(1.152001);
	-ms-transform:scale(1.152001);
	-moz-transform:scale(1.152001);
	transform:scale(1.152001);
}
.t127 {
	-webkit-transform:scale(1.152001);
	-o-transform:scale(1.152001);
	-ms-transform:scale(1.152001);
	-moz-transform:scale(1.152001);
	transform:scale(1.152001);
}
.t69 {
	-webkit-transform:scale(1.152001);
	-o-transform:scale(1.152001);
	-ms-transform:scale(1.152001);
	-moz-transform:scale(1.152001);
	transform:scale(1.152001);
}
.t85 {
	-webkit-transform:scale(1.152001);
	-o-transform:scale(1.152001);
	-ms-transform:scale(1.152001);
	-moz-transform:scale(1.152001);
	transform:scale(1.152001);
}
.t91 {
	-webkit-transform:scale(1.152001);
	-o-transform:scale(1.152001);
	-ms-transform:scale(1.152001);
	-moz-transform:scale(1.152001);
	transform:scale(1.152001);
}
.t77 {
	-webkit-transform:scale(1.152001);
	-o-transform:scale(1.152001);
	-ms-transform:scale(1.152001);
	-moz-transform:scale(1.152001);
	transform:scale(1.152001);
}
.t89 {
	-webkit-transform:scale(1.152002);
	-o-transform:scale(1.152002);
	-ms-transform:scale(1.152002);
	-moz-transform:scale(1.152002);
	transform:scale(1.152002);
}
.t125 {
	-webkit-transform:scale(1.152002);
	-o-transform:scale(1.152002);
	-ms-transform:scale(1.152002);
	-moz-transform:scale(1.152002);
	transform:scale(1.152002);
}
.t101 {
	-webkit-transform:scale(1.152002);
	-o-transform:scale(1.152002);
	-ms-transform:scale(1.152002);
	-moz-transform:scale(1.152002);
	transform:scale(1.152002);
}
.t93 {
	-webkit-transform:scale(1.152002);
	-o-transform:scale(1.152002);
	-ms-transform:scale(1.152002);
	-moz-transform:scale(1.152002);
	transform:scale(1.152002);
}
.t105 {
	-webkit-transform:scale(1.152002);
	-o-transform:scale(1.152002);
	-ms-transform:scale(1.152002);
	-moz-transform:scale(1.152002);
	transform:scale(1.152002);
}
.t157 {
	-webkit-transform:scale(1.152002);
	-o-transform:scale(1.152002);
	-ms-transform:scale(1.152002);
	-moz-transform:scale(1.152002);
	transform:scale(1.152002);
}
.t83 {
	-webkit-transform:scale(1.152002);
	-o-transform:scale(1.152002);
	-ms-transform:scale(1.152002);
	-moz-transform:scale(1.152002);
	transform:scale(1.152002);
}
.t163 {
	-webkit-transform:scale(1.152002);
	-o-transform:scale(1.152002);
	-ms-transform:scale(1.152002);
	-moz-transform:scale(1.152002);
	transform:scale(1.152002);
}
.t87 {
	-webkit-transform:scale(1.152002);
	-o-transform:scale(1.152002);
	-ms-transform:scale(1.152002);
	-moz-transform:scale(1.152002);
	transform:scale(1.152002);
}
.t121 {
	-webkit-transform:scale(1.152003);
	-o-transform:scale(1.152003);
	-ms-transform:scale(1.152003);
	-moz-transform:scale(1.152003);
	transform:scale(1.152003);
}
.t103 {
	-webkit-transform:scale(1.152003);
	-o-transform:scale(1.152003);
	-ms-transform:scale(1.152003);
	-moz-transform:scale(1.152003);
	transform:scale(1.152003);
}
.t81 {
	-webkit-transform:scale(1.152003);
	-o-transform:scale(1.152003);
	-ms-transform:scale(1.152003);
	-moz-transform:scale(1.152003);
	transform:scale(1.152003);
}
.t95 {
	-webkit-transform:scale(1.152003);
	-o-transform:scale(1.152003);
	-ms-transform:scale(1.152003);
	-moz-transform:scale(1.152003);
	transform:scale(1.152003);
}
.t135 {
	-webkit-transform:scale(1.152003);
	-o-transform:scale(1.152003);
	-ms-transform:scale(1.152003);
	-moz-transform:scale(1.152003);
	transform:scale(1.152003);
}
.t109 {
	-webkit-transform:scale(1.152003);
	-o-transform:scale(1.152003);
	-ms-transform:scale(1.152003);
	-moz-transform:scale(1.152003);
	transform:scale(1.152003);
}
.t113 {
	-webkit-transform:scale(1.152003);
	-o-transform:scale(1.152003);
	-ms-transform:scale(1.152003);
	-moz-transform:scale(1.152003);
	transform:scale(1.152003);
}
.t161 {
	-webkit-transform:scale(1.152003);
	-o-transform:scale(1.152003);
	-ms-transform:scale(1.152003);
	-moz-transform:scale(1.152003);
	transform:scale(1.152003);
}
.t4 {
	-webkit-transform:scale(1.216000);
	-o-transform:scale(1.216000);
	-ms-transform:scale(1.216000);
	-moz-transform:scale(1.216000);
	transform:scale(1.216000);
}
.t23 {
	-webkit-transform:scale(1.220474);
	-o-transform:scale(1.220474);
	-ms-transform:scale(1.220474);
	-moz-transform:scale(1.220474);
	transform:scale(1.220474);
}
.t8 {
	-webkit-transform:scale(1.344000);
	-o-transform:scale(1.344000);
	-ms-transform:scale(1.344000);
	-moz-transform:scale(1.344000);
	transform:scale(1.344000);
}
.t63 {
	-webkit-transform:scale(1.536000);
	-o-transform:scale(1.536000);
	-ms-transform:scale(1.536000);
	-moz-transform:scale(1.536000);
	transform:scale(1.536000);
}
.t64 {
	-webkit-transform:scale(1.602726);
	-o-transform:scale(1.602726);
	-ms-transform:scale(1.602726);
	-moz-transform:scale(1.602726);
	transform:scale(1.602726);
}
.t13 {
	-webkit-transform:scale(1.664000);
	-o-transform:scale(1.664000);
	-ms-transform:scale(1.664000);
	-moz-transform:scale(1.664000);
	transform:scale(1.664000);
}
.t11 {
	-webkit-transform:scale(1.728000);
	-o-transform:scale(1.728000);
	-ms-transform:scale(1.728000);
	-moz-transform:scale(1.728000);
	transform:scale(1.728000);
}
.t49 {
	-webkit-transform:scale(1.792000);
	-o-transform:scale(1.792000);
	-ms-transform:scale(1.792000);
	-moz-transform:scale(1.792000);
	transform:scale(1.792000);
}
.t62 {
	-webkit-transform:scale(1.920000);
	-o-transform:scale(1.920000);
	-ms-transform:scale(1.920000);
	-moz-transform:scale(1.920000);
	transform:scale(1.920000);
}
.t5 {
	-webkit-transform:scale(1.984000);
	-o-transform:scale(1.984000);
	-ms-transform:scale(1.984000);
	-moz-transform:scale(1.984000);
	transform:scale(1.984000);
}
.t10 {
	-webkit-transform:scale(2.048000);
	-o-transform:scale(2.048000);
	-ms-transform:scale(2.048000);
	-moz-transform:scale(2.048000);
	transform:scale(2.048000);
}
.t6 {
	-webkit-transform:scale(2.109439);
	-o-transform:scale(2.109439);
	-ms-transform:scale(2.109439);
	-moz-transform:scale(2.109439);
	transform:scale(2.109439);
}
.t3 {
	-webkit-transform:scale(2.112000);
	-o-transform:scale(2.112000);
	-ms-transform:scale(2.112000);
	-moz-transform:scale(2.112000);
	transform:scale(2.112000);
}
.t2 {
	-webkit-transform:scale(2.688000);
	-o-transform:scale(2.688000);
	-ms-transform:scale(2.688000);
	-moz-transform:scale(2.688000);
	transform:scale(2.688000);
}
.t50 {
	-webkit-transform:scale(3.136000);
	-o-transform:scale(3.136000);
	-ms-transform:scale(3.136000);
	-moz-transform:scale(3.136000);
	transform:scale(3.136000);
}
.t1 {
	-webkit-transform:scale(4.062080);
	-o-transform:scale(4.062080);
	-ms-transform:scale(4.062080);
	-moz-transform:scale(4.062080);
	transform:scale(4.062080);
}
.o0 {
	-webkit-transform-origin:0.00% 100.00%;
	-o-transform-origin:0.00% 100.00%;
	-ms-transform-origin:0.00% 100.00%;
	-moz-transform-origin:0.00% 100.00%;
	transform-origin:0.00% 100.00%;
}
.f16 {
	font-weight:normal;
	font-style:normal;
	font-family:"f16generic";
}

.f17 {
	font-weight:normal;
	font-style:normal;
	font-family:"f17generic";
}

.f10 {
	font-weight:normal;
	font-style:normal;
	font-family:"f10generic";
}

.f9 {
	font-weight:normal;
	font-style:normal;
	font-family:"f9generic";
}

.f11 {
	font-weight:normal;
	font-style:normal;
	font-family:"f11generic";
}

.f12 {
	font-weight:normal;
	font-style:normal;
	font-family:"f12generic";
}

.f13 {
	font-weight:normal;
	font-style:normal;
	font-family:"f13generic";
}

.f14 {
	font-weight:normal;
	font-style:normal;
	font-family:"f14generic";
}

.f8 {
	font-weight:normal;
	font-style:normal;
	font-family:"f8generic";
}

.f15 {
	font-weight:normal;
	font-style:normal;
	font-family:"f15generic";
}

.f1 {
	font-weight:normal;
	font-style:normal;
	font-family:"f1generic";
}

.f0 {
	font-weight:normal;
	font-style:normal;
	font-family:"f0generic";
}

.f7 {
	font-weight:normal;
	font-style:normal;
	font-family:"f7generic";
}

.f6 {
	font-weight:normal;
	font-style:normal;
	font-family:"f6generic";
}

.f3 {
	font-weight:normal;
	font-style:normal;
	font-family:"f3generic";
}

.f5 {
	font-weight:normal;
	font-style:normal;
	font-family:"f5generic";
}

.f2 {
	font-weight:normal;
	font-style:normal;
	font-family:"f2generic";
}

.f4 {
	font-weight:normal;
	font-style:normal;
	font-family:"f4generic";
}

